<form class="form-inline" *ngIf="parent" (ngSubmit)="onSubmit(); todoForm.reset()" #todoForm="ngForm">
  <mat-form-field class="example-full-width">
    <mat-label>What else to do?</mat-label>
    <input matInput [(ngModel)]="task.title"
           name="title"
           placeholder="Enter a title"
           #title="ngModel">
  </mat-form-field>
  <button mat-icon-button type="submit" [disabled]="!task.title" aria-label="Example icon-button with a heart icon">
    <mat-icon>add</mat-icon>
  </button>
</form>
